<html>
<head>
	<meta charset="utf-8">
	<title>Crud Veiculo</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="css/main.css">
</head>
<body ng-app="register">
	<section class="container-fluid" ng-controller="CarsController">
		<article ng-controller="ModalController">
			
			<header class="header__action--createCar">
				<a class="btn btn-primary btn-success btn-lg" ng-click="toggleModal(); setState('cadastro')">Cadastrar Carro</a>
			</header>
			
			<modal title="Cadastrar carro" visible="showModal" ng-cloak>
				<div ng-include src="template"></div>
		    </modal>
			
			<table ng-table="tableParams" class="container table table-striped" ng-cloak>
			    <thead>
			        <tr>
			            <th>Placa</th>
			            <th>Modelo</th>
			            <th>Marca</th>
			            <th>Ações</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="car in cars" ng-cloak>
			            <td data-title="'Placa'">
			                <span>{{car.placa}}</span>
			            </td>
			            <td data-title="Modelo">
			                <span>{{car.modelo}}</span>
			            </td>
			            <td data-title="Marca">
			                <span>{{car.marca}}</span>
			            </td>

			            <td data-title="Ações">
			                <a class="btn btn-primary btn-xs" ng-click="toggleModal(); open($index);">Edit</a>
			                <a class="btn btn-default btn-xs" ng-click="removeCar($index)">Delete</a>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</article>
	</section>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.6/angular.min.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/modals/modals_directive.js"></script>
	<script type="text/javascript" src="js/modals/modals_controller.js"></script>
	
</body>
</html>