<form role="form" ng-model="updateCar" ng-repeat="car in cars | filter:updateCar">
	<div class="form-group">
			<label for="placa">Placa</label>
			<input type="placa" class="form-control" value="car.placa" ng-model="car.placa" id="placa" />
		</div>
		<div class="form-group">
			<label for="imagem">Imagem</label>
			<input type="imagem" class="form-control" ng-model="car.imagem" id="imagem" />
		</div>
		<div class="form-group">
			<label for="modelo">Modelo</label>
			<input type="modelo" class="form-control" value="car.modelo" ng-model="car.modelo" id="modelo"/>
		</div>
		<div class="form-group">
			<label for="marca">Marca</label>
			<input type="marca" class="form-control" value="car.marca" ng-model="car.marca" id="marca" />
		</div>
		<div class="form-group">
			<label for="combustivel">Combustivel</label>
			<input type="combustivel" class="form-control" ng-model="car.combustivel" id="combustivel" />
		</div>

	<button ng-click="update(car)" class="btn btn-success">Atualizar</button>

</form>